*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "roboto", sans-serif;
}

a {
  outline: none;
  color: #000000;
  text-decoration: none;
}

.btn {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  background-color: #f0f0f0;
  font-size: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 1.6rem;
}
.form input {
  margin-top: 1.8rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 4rem;
  width: 100%;
  background-color: #f0f0f0;
  font-size: 1.6rem;
  border-radius: 50px;
  box-shadow: -5px -5px 3px #f6f6f7, 5px 5px 5px #e3e5ea;
  outline: none;
  border: 0;
}
.form input[type=submit] {
  padding-left: 0;
  text-align: center;
  background-color: #0586e9;
  color: #ffffff;
  box-shadow: -5px -5px 3px #f6f6f7, 5px 5px 5px #dbcaf3;
  cursor: pointer;
}
.form--boxshadow {
  padding: 2.2rem 2.6rem 2.8rem 2.6rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: -10px -10px 5px #f4f4f6, 5px 5px 5px #e3e5ea;
}

.title {
  text-align: center;
}

.header {
  padding: 5rem 11.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__btn {
  padding: 2rem 4rem;
  border-radius: 30px;
  font-size: 2rem;
  color: #7c7c7c;
  box-shadow: -5px -2px #fdfdfd, 2px 5px 2px #e7e7e7;
}
.header__logo {
  width: 10rem;
  height: 10rem;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-left: 11.6rem;
  padding-right: 11.3rem;
}
.intro__left {
  padding-top: 10rem;
  max-width: 60rem;
  width: 50%;
  margin-right: auto;
}
.intro__left h1 {
  margin-bottom: 4.3rem;
  font-size: 5rem;
  max-width: 55.3rem;
}
.intro__right {
  width: 50%;
}
.intro__right .form__title {
  margin-right: auto;
  color: #0586e9;
}
.intro__right .form p {
  margin-top: 2rem;
  max-width: 45rem;
  margin-right: auto;
}

.about {
  margin-top: 8.8rem;
  padding-left: 11.3rem;
  padding-right: 11.3rem;
}
.about__detail {
  position: relative;
  padding-top: 3.5rem;
  min-height: 61.7rem;
}
.about__detail img {
  position: absolute;
  width: 43.4rem;
  height: 58.3rem;
  z-index: 0;
}
.about__text {
  position: absolute;
  right: 0;
  top: 8.3rem;
  padding: 7.3rem 4rem 4rem 4.7rem;
  width: 97rem;
  height: 46.5rem;
  background-color: #eaeaea;
  z-index: 1;
}

.achievement {
  position: relative;
  margin-top: 6.5rem;
  height: 70rem;
}
.achievement__statistic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 103.7rem;
  z-index: 1;
}
.achievement__intro {
  position: absolute;
  width: 100%;
  top: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 57.5rem;
  z-index: 0;
}
.achievement__intro img {
  z-index: 0;
  height: 57.5rem;
  width: 50%;
}
.achievement__introtext {
  padding-left: 4.5rem;
  max-width: 55rem;
  font-weight: 700;
  font-size: 3rem;
}

.statistic {
  text-align: center;
}
.statistic__number {
  margin-top: 5.2rem;
  font-size: 3rem;
  font-weight: 700;
}
.statistic__caption {
  max-width: 18.5rem;
  margin-top: 2.4rem;
  margin-bottom: 5.5rem;
}

.workflow {
  text-align: center;
  margin-top: 6.7rem;
}
.workflow__subtitle {
  max-width: 49.3rem;
  margin: auto;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}
.workflow__process {
  padding: 3.3rem 12.3rem;
  background: url("/assets/image/workflow_background.png");
}
.workflow__process img {
  margin-bottom: 2.7rem;
}

.process {
  position: relative;
  width: 22.1rem;
  height: 22.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 1.6rem;
}
.process__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.process__row:first-child {
  margin-bottom: 3rem;
}
.process__phase {
  position: absolute;
  top: 1.8rem;
  right: 1.6rem;
  padding: 1.6rem;
  background-color: #daeaf6;
  border-radius: 50%;
  color: #0586e9;
  font-weight: 700;
}

.clients {
  padding: 6.8rem 11.3rem;
}
.clients__container {
  margin-top: 4.6rem;
  padding: 4.8rem 3.5rem;
  background-color: #ffffff;
}
.clients__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.clients__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 4rem;
}
.clients__btn {
  width: 2rem;
  height: 2rem;
  border: 1px solid blue;
  border-radius: 50%;
  z-index: 111;
  color: red;
  margin-right: 1.5rem;
}
.clients__btn--selected {
  background-color: blue;
}
.clients__btn:last-child {
  margin-right: 0;
}

.technology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.technology__selections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.technology__choice {
  padding: 2rem 4.7rem;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.technology__choice--selected {
  padding: 2rem 2rem;
  color: #0586e9;
  font-weight: 700;
  border-bottom-color: inherit;
}
.technology__container {
  margin-left: 11.5rem;
  margin-right: 11.5rem;
  height: 43rem;
  overflow: hidden;
}
.technology__container input {
  display: none;
}
.technology__container > div {
  width: 200%;
  height: 100%;
  display: flex;
}
.technology__option {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.6s;
}
.technology__tech, .technology__tool {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 5rem;
  width: 20%;
}
.technology__tech img, .technology__tool img {
  max-width: 10rem;
  max-height: 10rem;
  margin-bottom: 3rem;
}

#radio__tool:checked ~ .technology__tools {
  margin-left: 0;
}

#radio__tech:checked ~ .technology__tools {
  margin-left: -50%;
}

.remark {
  margin-top: 6rem;
  text-align: center;
}
.remark__container {
  position: relative;
  padding-top: 5.5rem;
  padding-bottom: 6rem;
}
.remark__detail {
  margin: auto;
  max-width: 82.2rem;
  padding-bottom: 3rem;
}
.remark__writer {
  padding-bottom: 5rem;
}
.remark__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.2rem 1.2rem;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 4rem;
  color: #2092ea;
  box-shadow: -2px -2px #f6f6f7, 2px 2px #e3e5ea;
}
.remark__btn--left {
  left: 11.5rem;
}
.remark__btn--right {
  right: 11.5rem;
}

.contact {
  padding: 2.9rem 11.7rem 4.6rem 11.4rem;
  background-color: #e9e9e9;
}
.contact__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.contact__left {
  width: 46rem;
}
.contact__left i.fab {
  font-size: 2.8rem;
  margin-left: 2rem;
}
.contact__location {
  margin-bottom: 3rem;
}
.contact__map {
  margin-bottom: 3rem;
}
.contact__right {
  width: 48rem;
}
.contact__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.footer {
  margin-left: 11.3rem;
  margin-right: 11.3rem;
  padding-top: 3.2rem;
  padding-bottom: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 1px solid black;
}
.footer__logo {
  width: 8rem;
  height: 8rem;
}

.copyright {
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  .intro__left {
    max-width: 37rem;
  }

  .about__text {
    right: 0;
    max-width: 55rem;
    max-height: 55rem;
    overflow-y: scroll;
  }

  .achievement__statistic {
    padding-left: 2rem;
    width: fit-content;
  }

  .workflow__process {
    padding: 3.3rem 2rem;
  }

  .remark__detail {
    max-width: 60rem;
  }

  .contact__map {
    width: 30rem;
    height: 30rem;
  }
}
@media screen and (max-width: 770px) {
  .title {
    margin-bottom: 1rem;
  }

  .form input {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }

  .intro {
    align-items: center;
  }
  .intro__left {
    padding-top: 0;
    max-width: 40%;
  }
  .intro__left h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
  }
  .intro__right {
    margin-top: 1rem;
  }
  .intro__right .form p {
    max-width: 100%;
  }

  .workflow .process {
    width: 15rem;
    height: 15rem;
  }
  .workflow .process__phase {
    top: 1rem;
    padding: 1rem;
  }
  .workflow .process img {
    margin-bottom: 1rem;
  }

  .clients {
    padding: 6.8rem 2rem;
  }
  .clients__container {
    margin-top: 2rem;
  }

  .technology__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .remark__container {
    padding: 0;
  }
  .remark__btn--left {
    left: 5rem;
  }
  .remark__btn--right {
    right: 5rem;
  }

  .contact {
    padding: 2.9rem 2rem 4rem 2rem;
  }
}
@media screen and (max-width: 500px) {
  .form--boxshadow {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem;
  }
  .form__caption {
    text-align: left;
  }

  .header {
    padding: 5rem 1rem;
  }

  .intro {
    padding: 0;
    text-align: center;
    flex-direction: column;
  }
  .intro__left {
    padding-top: 0;
    width: 100%;
    max-width: 100%;
  }
  .intro__left h1 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
  }
  .intro__right {
    margin-top: 1rem;
    width: 100%;
  }
  .intro__right .form p {
    max-width: 100%;
  }

  .about {
    padding: 0;
  }
  .about__detail img {
    width: 100%;
  }
  .about__text {
    padding: 1rem 1rem 1rem 1rem;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .clients {
    padding: 2rem 1rem;
  }
  .clients__container {
    padding: 0;
    padding-bottom: 1rem;
  }
  .clients__slide img {
    max-width: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .clients__buttons {
    margin-top: 0;
  }

  .achievement__statistic {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .achievement__introtext {
    padding-left: 1rem;
  }

  .statistic__number {
    margin-top: 1rem;
  }
  .statistic__caption {
    margin-bottom: 1rem;
  }

  .technology__container {
    max-height: 40rem;
    overflow-y: scroll;
  }
  .technology__tool, .technology__tech {
    width: 50%;
  }

  .remark__detail {
    max-width: 40%;
  }

  .contact__detail {
    flex-direction: column;
  }
  .contact__left, .contact__right {
    width: 100%;
  }

  .footer {
    margin: 0 auto;
  }
  .footer .copyright {
    max-width: 60%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
