// sass css/style.scss css/style.css --watch

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "roboto", "Times New Roman", sans-serif;
  font-weight: 300;
}

a {
  outline: none;
  color: #000000;
  text-decoration: none;
}

@mixin flex($justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.btn {
  @include button();
}

.wrapper {
  min-height: 100vh;
  background-color: #f0f0f0;
  font-size: 2rem;
}

.form {
  @include flex();
  flex-direction: column;
  font-size: 1.6rem;
  input {
    margin-top: 1.8rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 4rem;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 1.6rem;
    border-radius: 50px;
    box-shadow: -5px -5px 3px #f6f6f7, 5px 5px 5px #e3e5ea;
    outline: none;
    border: 0;
  }
  .input--selected {
    box-shadow: inset 7px 4px 10px 1px #e3e5ea, inset -4px -3px 10px 2px #f6f6f8;
  }
  input[type="submit"] {
    padding-left: 0;
    text-align: center;
    background-color: #0586e9;
    color: #ffffff;
    box-shadow: -5px -5px 3px #f6f6f7, 5px 5px 5px #dbcaf3;
    cursor: pointer;
  }
  &--boxshadow {
    padding: 2.2rem 2.6rem 2.8rem 2.6rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: -10px -10px 5px #f4f4f6, 5px 5px 5px #e3e5ea;
  }
}

.title {
  text-align: center;
}

.header {
  padding: 5rem 11.3rem;
  @include flex(space-between);
  &__btn {
    padding: 2rem 4rem;
    border-radius: 30px;
    font-size: 2rem;
    color: #7c7c7c;
    box-shadow: -5px -2px #fdfdfd, 2px 5px 2px #e7e7e7;
  }
  &__logo {
    width: 10rem;
    height: 10rem;
  }
}

.intro {
  position: relative;
  @include flex(center, stretch);
  padding-left: 11.6rem;
  padding-right: 11.3rem;
  &__background {
    position: absolute;
    top: -5rem;
    left: 4.8rem;
    object-fit: cover;
    z-index: 0;
  }
  &__left {
    padding-top: 10rem;
    h1 {
      margin-bottom: 4.3rem;
      font-size: 5rem;
      max-width: 55.3rem;
    }
    max-width: 60rem;
    width: 50%;
    margin-right: auto;
    z-index: 1;
  }
  &__right {
    width: 50%;
    z-index: 1;
    .form {
      &__title {
        margin-right: auto;
        color: #0586e9;
      }
      p {
        margin-top: 2rem;
        max-width: 45rem;
        margin-right: auto;
      }
    }
  }
}

.about {
  margin-top: 8.8rem;
  padding-left: 11.3rem;
  padding-right: 11.3rem;
  &__detail {
    position: relative;
    padding-top: 3.5rem;
    min-height: 61.7rem;
    img {
      position: absolute;
      width: 43.4rem;
      height: 58.3rem;
      z-index: 0;
    }
  }
  &__text {
    position: absolute;
    right: 0;
    top: 8.3rem;
    padding: 7.3rem 4rem 4rem 4.7rem;
    width: 97rem;
    height: 46.5rem;
    background-color: #eaeaea;
    z-index: 1;
  }
}

.achievement {
  position: relative;
  margin-top: 6.5rem;
  min-height: 70rem;
  &__statistic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url("../assets/image/statistic__bg.png");
    background-size: contain;
    @include flex(space-around, stretch);
    width: 103.7rem;
    z-index: 1;
  }
  &__intro {
    position: absolute;
    width: 100%;
    max-height: 57.4rem;
    top: 13rem;
    @include flex;
    height: 100%;
    img {
      width: 50%;
      height: 100%;
    }
    &text {
      padding-left: 4.5rem;
      padding-right: 11.4rem;
      max-width: 50%;
      p {
        font-weight: 700;
        font-size: 4rem;
      }
    }
  }
}
.statistic {
  text-align: center;
  &__number {
    margin-top: 5.2rem;
    font-size: 3rem;
    font-weight: 700;
  }
  &__caption {
    max-width: 18.5rem;
    margin-top: 2rem;
    margin-bottom: 5.5rem;
    font-weight: 400;
  }
}

.workflow {
  text-align: center;
  margin-top: 6.7rem;
  &__subtitle {
    max-width: 49.3rem;
    margin: auto;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
  }
  &__process {
    padding: 3.3rem 12.3rem;
    background-image: url("../assets/image/workflow_background.png");
    background-size: cover;
    img {
      margin-bottom: 2.7rem;
    }
  }
}
.process {
  position: relative;
  width: 20%;
  height: 22.1rem;
  @include flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 1.6rem;
  &__row {
    @include flex(space-between);
    position: relative;
    &:first-child {
      margin-bottom: 2.8rem;
    }
    &connect {
      > img {
        margin-bottom: 0;
      }
      position: absolute;
      top: calc(50% - 3px);
      right: -4.5rem;
    }
  }
  &__row:nth-child(2) {
    flex-direction: row-reverse;
  }
  &__phase {
    position: absolute;
    top: 1.8rem;
    right: 1.6rem;
    padding: 1.6rem;
    background-color: #daeaf6;
    border-radius: 50%;
    color: #0586e9;
    font-weight: 700;
  }
  &__arrow {
    > img {
      margin-bottom: 0;
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 94%;
    z-index: 1;
  }
}

.clients {
  padding: 6.8rem 11.3rem;
  &__container {
    margin-top: 4.6rem;
    padding: 4.8rem 3.5rem;
    background-color: #ffffff;
  }
  &__slide {
    @include flex(space-between);
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.7;
    }
    to {
      opacity: 1;
    }
  }
  &__buttons {
    @include flex;
    margin-top: 4rem;
  }
  &__btn {
    width: 2rem;
    height: 2rem;
    border: 1px solid blue;
    border-radius: 50%;
    z-index: 111;
    color: red;
    margin-right: 1.5rem;
    &--selected {
      background-color: blue;
    }
  }
  &__btn:last-child {
    margin-right: 0;
  }
}

.technology {
  @include flex;
  flex-direction: column;
  &__selections {
    @include flex;
  }
  &__choice {
    padding: 2rem 4.7rem;
    border-bottom: 2px solid black;
    cursor: pointer;
    &--selected {
      padding: 2rem 2rem;
      color: #0586e9;
      font-weight: 700;
      border-bottom-color: inherit;
    }
  }
  &__container {
    margin-left: 11.5rem;
    margin-right: 11.5rem;
    height: 43rem;
    overflow: hidden;
    input {
      display: none;
    }
  }
  &__container > div {
    width: 200%;
    height: 100%;
    display: flex;
  }
  &__option {
    width: 50%;
    height: 100%;
    @include flex(flex-start, center, wrap);
    transition: 0.6s;
  }
  &__tech,
  &__tool {
    @include flex();
    flex-direction: column;
    margin-top: 5rem;
    width: 20%;
    img {
      max-width: 10rem;
      max-height: 10rem;
      margin-bottom: 3rem;
    }
  }
}
#radio__tool:checked ~ .technology__tools {
  margin-left: 0;
}
#radio__tech:checked ~ .technology__tools {
  margin-left: -50%;
}

.remark {
  margin-top: 6rem;
  text-align: center;
  &__container {
    position: relative;
    padding-top: 5.5rem;
    padding-bottom: 6rem;
    overflow: hidden;
    & > div {
      width: 500%;
      height: 100%;
      display: flex;
      flex-direction: row;
      input {
        display: none;
      }
    }
  }
  &__slide {
    width: 20%;
    transition: 0.6s;
  }
  &__detail {
    margin: auto;
    max-width: 82.2rem;
    padding-bottom: 3rem;
  }
  &__writer {
    padding-bottom: 5rem;
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.2rem 1.2rem;
    @include button();
    border-radius: 50%;
    width: 4rem;
    color: #2092ea;
    box-shadow: -2px -2px #f6f6f7, 2px 2px #e3e5ea;
    &--left {
      left: 11.5rem;
    }
    &--right {
      right: 11.5rem;
    }
  }
  &__navbar {
    @include flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 0.5rem;
    bottom: 20%;
    label {
      cursor: pointer;
    }
  }
  &__bar {
    margin-right: 1rem;
    width: 1.5rem;
    height: 0.5rem;
    background-color: #c1dbef;
    border-radius: 20px;
    transition: 0.4s;
    &--selected {
      width: 4.5rem;
      background-color: #0586e9;
    }
  }
}
#radio__remark1:checked ~ .remark__slide--first {
  margin-left: 0;
}
#radio__remark2:checked ~ .remark__slide--first {
  margin-left: -20%;
}
#radio__remark3:checked ~ .remark__slide--first {
  margin-left: -40%;
}
#radio__remark4:checked ~ .remark__slide--first {
  margin-left: -60%;
}
#radio__remark5:checked ~ .remark__slide--first {
  margin-left: -80%;
}

.contact {
  padding-top: 2.9rem;
  padding-left: 11.7rem;
  padding-right: 11.4rem;
  background-color: #e9e9e9;
  &__detail {
    @include flex(space-between);
    margin-top: 4.4rem;
    padding-bottom: 4.6rem;
    border-bottom: 1px solid black;
  }
  &__left {
    width: 46rem;
    i.fab {
      font-size: 2.8rem;
      margin-left: 2rem;
    }
  }
  &__location {
    margin-bottom: 3rem;
  }
  &__map {
    margin-bottom: 3rem;
  }
  &__right {
    width: 48rem;
  }
  &__social {
    @include flex(flex-start);
  }
}

.footer {
  padding-left: 11.3rem;
  padding-right: 11.3rem;
  padding-top: 3.2rem;
  padding-bottom: 2.8rem;
  background-color: #e9e9e9;
  @include flex(space-between);
  &__logo {
    width: 8rem;
    height: 8rem;
  }
}

.copyright {
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  .intro {
    &__background {
      left: -1rem;
      width: 80%;
      height: 100%;
    }
    &__left {
      max-width: 37rem;
    }
  }
  .about {
    &__text {
      right: 0;
      max-width: 55rem;
      max-height: 55rem;
      overflow-y: scroll;
    }
  }
  .achievement {
    &__statistic {
      padding-left: 2rem;
      width: fit-content;
    }
  }
  .workflow {
    &__process {
      padding: 3.3rem 6rem;
    }
  }
  .remark {
    &__detail {
      max-width: 60rem;
    }
  }
  .contact {
    &__map {
      width: 30rem;
      height: 30rem;
    }
  }
}

@media screen and (max-width: 770px) {
  .title {
    margin-bottom: 1rem;
  }
  .form {
    input {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
    }
  }
  .intro {
    padding-left: 5rem;
    padding-right: 5rem;
    align-items: center;
    &__left {
      padding-top: 0;
      max-width: 40%;
      h1 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 3rem;
      }
    }
    &__right {
      margin-top: 1rem;
      .form p {
        max-width: 100%;
      }
    }
  }
  .workflow {
    &__process {
      padding: 3.3rem 2rem;
    }
    .process {
      width: 15rem;
      height: 15rem;
      &__phase {
        top: 1rem;
        padding: 1rem;
      }
      img {
        margin-bottom: 1rem;
      }
    }
  }
  .process {
    &__arrow,
    &__rowconnect {
      display: none;
    }
  }
  .clients {
    padding: 6.8rem 2rem;
    &__container {
      margin-top: 2rem;
    }
  }
  .technology {
    &__container {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .remark {
    &__container {
      padding: 0;
    }
    &__btn {
      &--left {
        left: 5rem;
      }
      &--right {
        right: 5rem;
      }
    }
    &__navbar {
      margin-bottom: -0.4rem;
    }
  }
  .contact {
    padding: 2.9rem 2rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .form {
    &--boxshadow {
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1rem 1rem;
    }
    &__caption {
      text-align: left;
    }
  }
  .header {
    padding: 1rem 1rem;
  }
  .intro {
    padding: 0;
    text-align: center;
    flex-direction: column;
    &__background {
      display: none;
    }
    &__left {
      padding-top: 0;
      width: 100%;
      max-width: 100%;
      h1 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 3rem;
      }
      p {
        margin: auto;
        max-width: 90%;
      }
    }
    &__right {
      margin-top: 1rem;
      width: 100%;
      .form p {
        max-width: 100%;
      }
    }
  }
  .about {
    padding: 0;
    &__detail {
      img {
        width: 100%;
      }
    }
    &__text {
      padding: 1rem 1rem 1rem 1rem;
      max-width: 80%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .workflow {
    .process {
      font-size: 1rem;
      width: calc(20%);
      height: 12rem;
      &__phase {
        padding: 0.5rem;
        font-size: 0.7rem;
        left: 50%;
        transform: translateX(-50%);
      }
      &__image {
        max-width: 2rem;
        max-height: 2rem;
      }
    }
  }
  .clients {
    padding: 2rem 1rem;
    &__container {
      padding: 0;
      padding-bottom: 1rem;
    }
    &__slide {
      img {
        max-width: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    &__buttons {
      margin-top: 0;
    }
  }
  .achievement {
    min-height: 55.5rem;
    &__statistic {
      width: 100%;
      background-size: 100% 90%;
      padding: 0;
      @include flex(center, center, wrap);
    }
    &__intro {
      max-height: 33.4rem;
      top: 25rem;
    }
    &__introtext {
      padding: 1rem 2rem;
      > p {
        font-size: 2.5rem;
      }
    }
  }
  .statistic {
    width: 50%;
    &__number {
      margin-top: 1rem;
    }
    &__caption {
      margin-bottom: 1rem;
    }
  }
  .technology {
    text-align: center;
    &__container {
      max-height: 40rem;
      overflow-y: scroll;
    }
    &__choice {
      padding: 2rem 2rem;
      &--selected {
        padding: 2rem 3rem;
      }
    }
    &__tool,
    &__tech {
      width: 50%;
      img {
        margin-bottom: 1rem;
        max-width: 8rem;
        max-height: 8rem;
      }
    }
  }
  .remark {
    &__detail {
      max-width: 40%;
    }
    &__navbar {
      margin-bottom: -3rem;
    }
  }
  .contact {
    &__detail {
      flex-direction: column;
    }
    &__left,
    &__right {
      width: 100%;
    }
    &__map {
      width: 100%;
    }
  }
  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
    .copyright {
      max-width: 60%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    &__btn {
      padding: inherit;
    }
  }
  .technology {
    &__choice {
      padding: 1rem;
      text-align: center;
      &--selected {
        padding: 1rem 2rem;
      }
    }
  }
  .workflow {
    .process {
      &__phase {
        padding: 0;
        background: none;
        font-size: 1rem;
      }
    }
  }
  .remark {
    &__detail {
      font-size: 1.6rem;
    }
    &__btn {
      &--left {
        left: 2rem;
      }
      &--right {
        right: 2rem;
      }
    }
  }
}
